/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arrow-left-unactive-name: arrow-left-unactive;
@arrow-left-unactive-x: 269px;
@arrow-left-unactive-y: 207px;
@arrow-left-unactive-offset-x: -269px;
@arrow-left-unactive-offset-y: -207px;
@arrow-left-unactive-width: 7px;
@arrow-left-unactive-height: 12px;
@arrow-left-unactive-total-width: 279px;
@arrow-left-unactive-total-height: 267px;
@arrow-left-unactive-image: '../images/sprites/sprite.png';
@arrow-left-unactive: 269px 207px -269px -207px 7px 12px 279px 267px '../images/sprites/sprite.png' arrow-left-unactive;
@arrow-left-name: arrow-left;
@arrow-left-x: 270px;
@arrow-left-y: 102px;
@arrow-left-offset-x: -270px;
@arrow-left-offset-y: -102px;
@arrow-left-width: 7px;
@arrow-left-height: 12px;
@arrow-left-total-width: 279px;
@arrow-left-total-height: 267px;
@arrow-left-image: '../images/sprites/sprite.png';
@arrow-left: 270px 102px -270px -102px 7px 12px 279px 267px '../images/sprites/sprite.png' arrow-left;
@arrow-right-unactive-name: arrow-right-unactive;
@arrow-right-unactive-x: 270px;
@arrow-right-unactive-y: 172px;
@arrow-right-unactive-offset-x: -270px;
@arrow-right-unactive-offset-y: -172px;
@arrow-right-unactive-width: 7px;
@arrow-right-unactive-height: 12px;
@arrow-right-unactive-total-width: 279px;
@arrow-right-unactive-total-height: 267px;
@arrow-right-unactive-image: '../images/sprites/sprite.png';
@arrow-right-unactive: 270px 172px -270px -172px 7px 12px 279px 267px '../images/sprites/sprite.png' arrow-right-unactive;
@arrow-right-name: arrow-right;
@arrow-right-x: 270px;
@arrow-right-y: 137px;
@arrow-right-offset-x: -270px;
@arrow-right-offset-y: -137px;
@arrow-right-width: 7px;
@arrow-right-height: 12px;
@arrow-right-total-width: 279px;
@arrow-right-total-height: 267px;
@arrow-right-image: '../images/sprites/sprite.png';
@arrow-right: 270px 137px -270px -137px 7px 12px 279px 267px '../images/sprites/sprite.png' arrow-right;
@calendar-name: calendar;
@calendar-x: 240px;
@calendar-y: 207px;
@calendar-offset-x: -240px;
@calendar-offset-y: -207px;
@calendar-width: 19px;
@calendar-height: 20px;
@calendar-total-width: 279px;
@calendar-total-height: 267px;
@calendar-image: '../images/sprites/sprite.png';
@calendar: 240px 207px -240px -207px 19px 20px 279px 267px '../images/sprites/sprite.png' calendar;
@clock-name: clock;
@clock-x: 240px;
@clock-y: 102px;
@clock-offset-x: -240px;
@clock-offset-y: -102px;
@clock-width: 20px;
@clock-height: 20px;
@clock-total-width: 279px;
@clock-total-height: 267px;
@clock-image: '../images/sprites/sprite.png';
@clock: 240px 102px -240px -102px 20px 20px 279px 267px '../images/sprites/sprite.png' clock;
@element-1-name: element-1;
@element-1-x: 60px;
@element-1-y: 102px;
@element-1-offset-x: -60px;
@element-1-offset-y: -102px;
@element-1-width: 50px;
@element-1-height: 25px;
@element-1-total-width: 279px;
@element-1-total-height: 267px;
@element-1-image: '../images/sprites/sprite.png';
@element-1: 60px 102px -60px -102px 50px 25px 279px 267px '../images/sprites/sprite.png' element-1;
@element-10-name: element-10;
@element-10-x: 120px;
@element-10-y: 102px;
@element-10-offset-x: -120px;
@element-10-offset-y: -102px;
@element-10-width: 50px;
@element-10-height: 25px;
@element-10-total-width: 279px;
@element-10-total-height: 267px;
@element-10-image: '../images/sprites/sprite.png';
@element-10: 120px 102px -120px -102px 50px 25px 279px 267px '../images/sprites/sprite.png' element-10;
@element-11-name: element-11;
@element-11-x: 180px;
@element-11-y: 102px;
@element-11-offset-x: -180px;
@element-11-offset-y: -102px;
@element-11-width: 50px;
@element-11-height: 25px;
@element-11-total-width: 279px;
@element-11-total-height: 267px;
@element-11-image: '../images/sprites/sprite.png';
@element-11: 180px 102px -180px -102px 50px 25px 279px 267px '../images/sprites/sprite.png' element-11;
@element-12-name: element-12;
@element-12-x: 0px;
@element-12-y: 137px;
@element-12-offset-x: 0px;
@element-12-offset-y: -137px;
@element-12-width: 50px;
@element-12-height: 25px;
@element-12-total-width: 279px;
@element-12-total-height: 267px;
@element-12-image: '../images/sprites/sprite.png';
@element-12: 0px 137px 0px -137px 50px 25px 279px 267px '../images/sprites/sprite.png' element-12;
@element-13-name: element-13;
@element-13-x: 60px;
@element-13-y: 137px;
@element-13-offset-x: -60px;
@element-13-offset-y: -137px;
@element-13-width: 50px;
@element-13-height: 25px;
@element-13-total-width: 279px;
@element-13-total-height: 267px;
@element-13-image: '../images/sprites/sprite.png';
@element-13: 60px 137px -60px -137px 50px 25px 279px 267px '../images/sprites/sprite.png' element-13;
@element-14-name: element-14;
@element-14-x: 120px;
@element-14-y: 137px;
@element-14-offset-x: -120px;
@element-14-offset-y: -137px;
@element-14-width: 50px;
@element-14-height: 25px;
@element-14-total-width: 279px;
@element-14-total-height: 267px;
@element-14-image: '../images/sprites/sprite.png';
@element-14: 120px 137px -120px -137px 50px 25px 279px 267px '../images/sprites/sprite.png' element-14;
@element-15-name: element-15;
@element-15-x: 180px;
@element-15-y: 137px;
@element-15-offset-x: -180px;
@element-15-offset-y: -137px;
@element-15-width: 50px;
@element-15-height: 25px;
@element-15-total-width: 279px;
@element-15-total-height: 267px;
@element-15-image: '../images/sprites/sprite.png';
@element-15: 180px 137px -180px -137px 50px 25px 279px 267px '../images/sprites/sprite.png' element-15;
@element-16-name: element-16;
@element-16-x: 0px;
@element-16-y: 172px;
@element-16-offset-x: 0px;
@element-16-offset-y: -172px;
@element-16-width: 50px;
@element-16-height: 25px;
@element-16-total-width: 279px;
@element-16-total-height: 267px;
@element-16-image: '../images/sprites/sprite.png';
@element-16: 0px 172px 0px -172px 50px 25px 279px 267px '../images/sprites/sprite.png' element-16;
@element-17-name: element-17;
@element-17-x: 60px;
@element-17-y: 172px;
@element-17-offset-x: -60px;
@element-17-offset-y: -172px;
@element-17-width: 50px;
@element-17-height: 25px;
@element-17-total-width: 279px;
@element-17-total-height: 267px;
@element-17-image: '../images/sprites/sprite.png';
@element-17: 60px 172px -60px -172px 50px 25px 279px 267px '../images/sprites/sprite.png' element-17;
@element-18-name: element-18;
@element-18-x: 218px;
@element-18-y: 42px;
@element-18-offset-x: -218px;
@element-18-offset-y: -42px;
@element-18-width: 50px;
@element-18-height: 25px;
@element-18-total-width: 279px;
@element-18-total-height: 267px;
@element-18-image: '../images/sprites/sprite.png';
@element-18: 218px 42px -218px -42px 50px 25px 279px 267px '../images/sprites/sprite.png' element-18;
@element-19-name: element-19;
@element-19-x: 180px;
@element-19-y: 172px;
@element-19-offset-x: -180px;
@element-19-offset-y: -172px;
@element-19-width: 50px;
@element-19-height: 25px;
@element-19-total-width: 279px;
@element-19-total-height: 267px;
@element-19-image: '../images/sprites/sprite.png';
@element-19: 180px 172px -180px -172px 50px 25px 279px 267px '../images/sprites/sprite.png' element-19;
@element-2-name: element-2;
@element-2-x: 0px;
@element-2-y: 207px;
@element-2-offset-x: 0px;
@element-2-offset-y: -207px;
@element-2-width: 50px;
@element-2-height: 25px;
@element-2-total-width: 279px;
@element-2-total-height: 267px;
@element-2-image: '../images/sprites/sprite.png';
@element-2: 0px 207px 0px -207px 50px 25px 279px 267px '../images/sprites/sprite.png' element-2;
@element-3-name: element-3;
@element-3-x: 60px;
@element-3-y: 207px;
@element-3-offset-x: -60px;
@element-3-offset-y: -207px;
@element-3-width: 50px;
@element-3-height: 25px;
@element-3-total-width: 279px;
@element-3-total-height: 267px;
@element-3-image: '../images/sprites/sprite.png';
@element-3: 60px 207px -60px -207px 50px 25px 279px 267px '../images/sprites/sprite.png' element-3;
@element-4-name: element-4;
@element-4-x: 120px;
@element-4-y: 207px;
@element-4-offset-x: -120px;
@element-4-offset-y: -207px;
@element-4-width: 50px;
@element-4-height: 25px;
@element-4-total-width: 279px;
@element-4-total-height: 267px;
@element-4-image: '../images/sprites/sprite.png';
@element-4: 120px 207px -120px -207px 50px 25px 279px 267px '../images/sprites/sprite.png' element-4;
@element-5-name: element-5;
@element-5-x: 180px;
@element-5-y: 207px;
@element-5-offset-x: -180px;
@element-5-offset-y: -207px;
@element-5-width: 50px;
@element-5-height: 25px;
@element-5-total-width: 279px;
@element-5-total-height: 267px;
@element-5-image: '../images/sprites/sprite.png';
@element-5: 180px 207px -180px -207px 50px 25px 279px 267px '../images/sprites/sprite.png' element-5;
@element-6-name: element-6;
@element-6-x: 0px;
@element-6-y: 242px;
@element-6-offset-x: 0px;
@element-6-offset-y: -242px;
@element-6-width: 50px;
@element-6-height: 25px;
@element-6-total-width: 279px;
@element-6-total-height: 267px;
@element-6-image: '../images/sprites/sprite.png';
@element-6: 0px 242px 0px -242px 50px 25px 279px 267px '../images/sprites/sprite.png' element-6;
@element-7-name: element-7;
@element-7-x: 60px;
@element-7-y: 242px;
@element-7-offset-x: -60px;
@element-7-offset-y: -242px;
@element-7-width: 50px;
@element-7-height: 25px;
@element-7-total-width: 279px;
@element-7-total-height: 267px;
@element-7-image: '../images/sprites/sprite.png';
@element-7: 60px 242px -60px -242px 50px 25px 279px 267px '../images/sprites/sprite.png' element-7;
@element-8-name: element-8;
@element-8-x: 120px;
@element-8-y: 172px;
@element-8-offset-x: -120px;
@element-8-offset-y: -172px;
@element-8-width: 50px;
@element-8-height: 25px;
@element-8-total-width: 279px;
@element-8-total-height: 267px;
@element-8-image: '../images/sprites/sprite.png';
@element-8: 120px 172px -120px -172px 50px 25px 279px 267px '../images/sprites/sprite.png' element-8;
@element-9-name: element-9;
@element-9-x: 0px;
@element-9-y: 102px;
@element-9-offset-x: 0px;
@element-9-offset-y: -102px;
@element-9-width: 50px;
@element-9-height: 25px;
@element-9-total-width: 279px;
@element-9-total-height: 267px;
@element-9-image: '../images/sprites/sprite.png';
@element-9: 0px 102px 0px -102px 50px 25px 279px 267px '../images/sprites/sprite.png' element-9;
@help-name: help;
@help-x: 240px;
@help-y: 137px;
@help-offset-x: -240px;
@help-offset-y: -137px;
@help-width: 20px;
@help-height: 20px;
@help-total-width: 279px;
@help-total-height: 267px;
@help-image: '../images/sprites/sprite.png';
@help: 240px 137px -240px -137px 20px 20px 279px 267px '../images/sprites/sprite.png' help;
@info-name: info;
@info-x: 240px;
@info-y: 172px;
@info-offset-x: -240px;
@info-offset-y: -172px;
@info-width: 20px;
@info-height: 20px;
@info-total-width: 279px;
@info-total-height: 267px;
@info-image: '../images/sprites/sprite.png';
@info: 240px 172px -240px -172px 20px 20px 279px 267px '../images/sprites/sprite.png' info;
@mail-name: mail;
@mail-x: 101px;
@mail-y: 42px;
@mail-offset-x: -101px;
@mail-offset-y: -42px;
@mail-width: 56px;
@mail-height: 42px;
@mail-total-width: 279px;
@mail-total-height: 267px;
@mail-image: '../images/sprites/sprite.png';
@mail: 101px 42px -101px -42px 56px 42px 279px 267px '../images/sprites/sprite.png' mail;
@outlink-logo-name: outlink-logo;
@outlink-logo-x: 101px;
@outlink-logo-y: 0px;
@outlink-logo-offset-x: -101px;
@outlink-logo-offset-y: 0px;
@outlink-logo-width: 178px;
@outlink-logo-height: 32px;
@outlink-logo-total-width: 279px;
@outlink-logo-total-height: 267px;
@outlink-logo-image: '../images/sprites/sprite.png';
@outlink-logo: 101px 0px -101px 0px 178px 32px 279px 267px '../images/sprites/sprite.png' outlink-logo;
@pages-name: pages;
@pages-x: 0px;
@pages-y: 0px;
@pages-offset-x: 0px;
@pages-offset-y: 0px;
@pages-width: 91px;
@pages-height: 92px;
@pages-total-width: 279px;
@pages-total-height: 267px;
@pages-image: '../images/sprites/sprite.png';
@pages: 0px 0px 0px 0px 91px 92px 279px 267px '../images/sprites/sprite.png' pages;
@spacebox-logo-name: spacebox-logo;
@spacebox-logo-x: 167px;
@spacebox-logo-y: 42px;
@spacebox-logo-offset-x: -167px;
@spacebox-logo-offset-y: -42px;
@spacebox-logo-width: 41px;
@spacebox-logo-height: 40px;
@spacebox-logo-total-width: 279px;
@spacebox-logo-total-height: 267px;
@spacebox-logo-image: '../images/sprites/sprite.png';
@spacebox-logo: 167px 42px -167px -42px 41px 40px 279px 267px '../images/sprites/sprite.png' spacebox-logo;
@spritesheet-width: 279px;
@spritesheet-height: 267px;
@spritesheet-image: '../images/sprites/sprite.png';
@spritesheet-sprites: @arrow-left-unactive @arrow-left @arrow-right-unactive @arrow-right @calendar @clock @element-1 @element-10 @element-11 @element-12 @element-13 @element-14 @element-15 @element-16 @element-17 @element-18 @element-19 @element-2 @element-3 @element-4 @element-5 @element-6 @element-7 @element-8 @element-9 @help @info @mail @outlink-logo @pages @spacebox-logo;
@spritesheet: 279px 267px '../images/sprites/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
