
.line {
	padding: 5px 30px;
}
.media {
	&__frame {
		.icons {
			position: absolute;
			z-index: 1;
		}
		.media-object {
			position: relative;
			margin: 7px 0px 0px 9px;
			max-width: none;
			z-index: 10;
		}
	}
	&-heading {
		font-size: 40px;
		font-weight: 700;
		color: #123;
		margin-bottom: 22px;
	}
	&-left {
		
	}
	&-body {
		
	}
	&-data {
		color: @text-light-grey;
		font-size: 12px;
		line-height: 1.1;
		.icons {
			position: relative;
			top: -2px;
		}
	}
}