---
layout: default-page-light.html
title: О проекте
name: about
---

<div class="line p-t-70 p-b-30">
	
	<h1>
		О проекте
	</h1>
	
</div>

<div class="row">
	<div class="col-xs-11">
		<nav class="leftnav">
			<ul>
				<li class="leftnav__item">
					<a href=""><span class="decorate">Как наличие исходящих ссылок влияет на ваши позиции в поиске гугл и яндекс?</span></a>
				</li>
				<li class="leftnav__item">
					<a href=""><span class="decorate">Как найти исходящую ссылку на сайте?</span></a>
				</li>
				<li class="leftnav__item">
					<a href=""><span class="decorate"></span></a>
				</li>
				<li class="leftnav__item">
					<a href=""><span class="decorate"></span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-37">
		
		
		
	</div>
</div>

