---
layout: default-guideline.html
title: Главная страница
name: guideline
---

<div class="page page--dark">
	
	<div class="row p-t-20 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--outlink-logo"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--outlink-logo"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--spacebox-logo"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--spacebox-logo"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--pages"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--pages"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--help"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--help"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--info"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--info"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--calendar"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--calendar"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--clock"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--clock"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--arrow-left"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--arrow-left"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--arrow-right"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--arrow-right"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--arrow-left-unactive"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--arrow-left-unactive"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--arrow-right-unactive"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--arrow-right-unactive"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-1"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-1"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-2"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-2"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-3"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-3"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-4"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-4"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-5"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-2"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-6"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-6"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-7"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-7"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-8"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-8"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-9"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-9"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-10"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-10"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-11"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-11"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-12"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-12"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-13"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-13"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-14"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-14"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-15"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-15"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-10 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-16"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-16"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-17"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-17"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-18"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-18"&gt;&lt;/i&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-20 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<i class="icons icons--element-19"></i>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;i class="icons icons--element-19"&gt;&lt;/i&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		<div class="col-xs-8 p-l-10">
			&nbsp;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-20 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-check-site svg-check-site-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-check-site svg-check-site-dims"&gt;&lt;/div&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-out-link svg-out-link-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-out-link svg-out-link-dims"&gt;&lt;/div&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-outlink-logo svg-outlink-logo-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-outlink-logo svg-outlink-logo-dims"&gt;&lt;/div&gt;
		</div>
		
	</div>
	
	<div class="row p-t-10 p-b-20 relative z-index-10">
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-pay-free svg-pay-free-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-pay-free svg-pay-free-dims"&gt;&lt;/div&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-postman svg-postman-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-postman svg-postman-dims"&gt;&lt;/div&gt;
		</div>
		
		<div class="col-xs-8 p-l-10">
			<div class="svg-scanning svg-scanning-dims"></div>
		</div>
		<div class="col-xs-8 p-l-10">
			&lt;div class="svg-scanning svg-scanning-dims"&gt;&lt;/div&gt;
		</div>
		
	</div>
	
</div>