---
layout: default-page-light.html
title: Помощь
name: help
---

<div class="line p-t-70 p-b-30">
	
	<h1>
		Помощь
	</h1>
	
</div>

<div class="row">
	<div class="col-xs-11">
		<nav class="leftnav">
			<ul>
				<li class="leftnav__item">
					<a href="#leftnav-1" data-toggle="collapse" aria-expanded="false"><span class="decorate">Как наличие исходящих ссылок влияет на ваши позиции в поиске гугл и яндекс?</span></a>
					<ul id="leftnav-1" class="collapse">
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Битрикс / Bitrix.</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Wordpress / Вордпресс</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на joomla / джумла</span></a>
						</li>
					</ul>
				</li>
				<li class="leftnav__item">
					<a href="#leftnav-2" data-toggle="collapse" aria-expanded="false"><span class="decorate">Как найти исходящую ссылку на сайте?</span></a>
					<ul id="leftnav-2" class="collapse">
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Битрикс / Bitrix.</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Wordpress / Вордпресс</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на joomla / джумла</span></a>
						</li>
					</ul>
				</li>
				<li class="leftnav__item">
					<a href="#leftnav-3" data-toggle="collapse" aria-expanded="false"><span class="decorate">Как самостоятельно удалить «плохую» исходящую ссылку с сайта?</span></a>
					<ul id="leftnav-3" class="collapse">
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Битрикс / Bitrix.</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Wordpress / Вордпресс</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на joomla / джумла</span></a>
						</li>
					</ul>
				</li>
				<li class="leftnav__item">
					<a href="#leftnav-4" data-toggle="collapse" aria-expanded="false"><span class="decorate">Регулярные проверки как способ защиты от появления «плохих» исходящих ссылок</span></a>
					<ul id="leftnav-4" class="collapse">
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Битрикс / Bitrix.</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на Wordpress / Вордпресс</span></a>
						</li>
						<li class="leftnav__item">
							<a href=""><span class="decorate">Как удалить исходящую ссылку с сайта на joomla / джумла</span></a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-37">
		
		<h2>
			Как самостоятельно удалить «плохую» исходящую ссылку с сайта?
		</h2>
		
		<h5>
			Очень часто, на форумах, вижу вопросы о том, как убрать ссылки копирайтеров, авторов шаблонов или вебмастеров, которые редактируют чужие дополнения к движкам, тем самым вставляют строчки, которые ссылаются на свои ресурсы.
		</h5>
		
		<p>
			Это на самом деле очень выгодно, так как многие начинающие вебмастеры и оптимизаторы, не задумываются о том, что такие могут присутствовать на их сайте. Есть и такие оптимизаторы, которые сами забывают закрыть их от индексации. А ведь из-за этого, опытные оптимизаторы не захотят покупать у вас постовые. Так же, это очень негативно влияет на внутреннюю оптимизацию сайта Сейчас я опишу, как убрать ссылки из часто задаваемых вопросов на форумах.
		</p>
		
		<h5>
			Скрыть ссылки от индексации
		</h5>
		
		<p>
			Если вы хотите ссылаться на другие сайты, но не хотите передавать им вес своего, то достаточно закрыть их от индексации тегами и атрибутом rel=«nofollow». К примеру: Как создать сайт Чтобы постоянно не прописывать, эти теги и атрибуты, можно воспользоваться специальными плагинами которые я недавно описывал в статье <a href="">«SEO плагины Joomla 2.5»</a>, а если у вас другая CMS, то просто наберите в поисковике запрос «плагин для закрытия внешних ссылок для (ваша CMS)».
		</p>
		
		<h5>
			Как убрать ссылки из шаблона Joomla
		</h5>
		
		<p>
			Если ссылаемый сайт находиться в шаблоне Joomla, то она ОБЯЗАТЕЛЬНО будет прописана в файле index.php. Чаще всего это будет самый простой фрагмент кода, примерно такой:
		</p>
		
		<div class="code">
			
		</div>
		
		<p>
			Достаточно её всего лишь удалить. Тут все в принципе и дураку понятно. Убрать копирайт jcomments Вот тут уже все не так легко как в прошлых двух примерах
		</p>
		
	</div>
</div>

