---
layout: default-page-light.html
title: Главная страница
name: index
---

<div class="line p-t-70 p-b-30">
	
	<div class="media">
		
		<div class="media-left p-r-30 p-t-5">
			<a class="media__frame" href="#">
				<i class="icons icons--pages"></i>
				<img class="media-object" src="images/pages-images/img-1.png" alt="" />
			</a>
		</div>
		
		<div class="media-body">
			<h1 class="media-heading">
				Отчет для rsl.ru
			</h1>
			<div class="media-data">
				<span><i class="icons icons--calendar m-r-10"></i>08.01.2016</span>
				<span class="m-l-40"><i class="icons icons--clock m-r-10"></i>18:44:51</span>
			</div>
		</div>
		
	</div>
	
</div>
