.svg-check-site {
	background: url("svg/sprite.css-0c5a613b.svg") 66.36363636363636% 0 no-repeat;
}

.svg-check-site-dims {
	width: 230px;
	height: 220px;
}

.svg-out-link {
	background: url("svg/sprite.css-0c5a613b.svg") 0 100% no-repeat;
}

.svg-out-link-dims {
	width: 185px;
	height: 200px;
}

.svg-outlink-logo {
	background: url("svg/sprite.css-0c5a613b.svg") 100% 0 no-repeat;
}

.svg-outlink-logo-dims {
	width: 185px;
	height: 180px;
}

.svg-pay-free {
	background: url("svg/sprite.css-0c5a613b.svg") 56.27009646302251% 94.48818897637796% no-repeat;
}

.svg-pay-free-dims {
	width: 158px;
	height: 186px;
}

.svg-postman {
	background: url("svg/sprite.css-0c5a613b.svg") 30.08130081300813% 96% no-repeat;
}

.svg-postman-dims {
	width: 165px;
	height: 190px;
}

.svg-scanning {
	background: url("svg/sprite.css-0c5a613b.svg") 0 0 no-repeat;
}

.svg-scanning-dims {
	width: 365px;
	height: 240px;
}

