
<header class="header">

	<i class="icons icons--element-1"></i>
	<i class="icons icons--element-2"></i>
	<i class="icons icons--element-3"></i>
	<i class="icons icons--element-4"></i>
	<i class="icons icons--element-5"></i>
	<i class="icons icons--element-6"></i>
	<i class="icons icons--element-7"></i>
	<i class="icons icons--element-8"></i>
	<i class="icons icons--element-9"></i>
	
	<i class="icons icons--element-10"></i>
	<i class="icons icons--element-11"></i>
	<i class="icons icons--element-12"></i>
	<i class="icons icons--element-13"></i>
	<i class="icons icons--element-14"></i>
	<i class="icons icons--element-15"></i>
	<i class="icons icons--element-16"></i>
	<i class="icons icons--element-17"></i>
	<i class="icons icons--element-18"></i>
	<i class="icons icons--element-19"></i>

	<div class="row">
		<div class="col-xs-12 p-t-10">
			
			<a class="header__logotpe" href="">
				<i class="icons icons--outlink-logo"></i>
			</a>

		</div>
		<div class="col-xs-24">
			
			<div class="svg-outlink-logo svg-outlink-logo-dims center"></div>
			
		</div>
		<div class="col-xs-12 p-t-15">

			<div class="row nowrap text-right">
				<div class="col-xs-24">
					<a class="header__link" href="help.html"><i class="icons icons--help"></i><span class="decorate">Помощь</span></a>
				</div>
				<div class="col-xs-24">
					<a class="header__link" href="about.html"><i class="icons icons--info"></i><span class="decorate">О проекте</span></a>
				</div>
			</div>
			
		</div>
	</div>
	
</header>
