
<header class="header">
	
	<div class="container">
		
		<div class="row">
			<div class="col-xs-24">
				
				<a class="header__logotpe m-l-30" href="index.html">
					<i class="icons icons--outlink-logo"></i>
				</a>

			</div>
			<div class="col-xs-24 p-r-45">

				<div class="row nowrap pull-right text-right">
					<div class="col-xs-24">
						<a class="header__link" href="help.html"><i class="icons icons--help"></i><span class="decorate">Помощь</span></a>
					</div>
					<div class="col-xs-24">
						<a class="header__link" href="about.html"><i class="icons icons--info"></i><span class="decorate">О проекте</span></a>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	
</header>
