/* Variables
   ========================================================================== */

@base-color:          #1c6c88;
@pink-color:          #ff2b5a;
@pink-color-border:   #d9254d;
@violet-color:        #7749c7;
@violet-color-border: #653ea9;
@green-bg:            #6dbac7;
@text-white:          #fff;
@text-grey:           #678;
@text-light-grey:     #789;

@text-green:          #39a;
@text-light-green:    #79d8e1;
@text-toolight-green: #9bf1f9;

@text-input-color:    #112233;

@footer-color:        #1d748c;
@footer-bg-color:     #f7f7f7;

/* 5 Columns Maket
   ========================================================================== */


/*
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-xs-5 {
    width: 20%;
    float: left;
}
@media (min-width: @screen-sm) {
.col-sm-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: @screen-md) {
    .col-md-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: @screen-lg) {
    .col-lg-5 {
        width: 20%;
        float: left;
    }
}
*/