
.header {
	position: relative;
	
	.svg-outlink-logo {
		background: transparent;
		height: 290px;
		width: 298px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			height: 100px;
			width: 180px;
			top: 100px;
			left: 50%;
			margin-left: -90px;
			border-radius: 50%;
			box-shadow: 0px 0px 200px 120px rgba(255,255,255,0.45);
			z-index: 1;
		}
		&:after {
			content: "";
			display: block;
			position: relative;
			background: url("../images/svg-sprites/outlink-logo.svg") no-repeat 50% 50%;
			background-size: cover;
			height: 290px;
			width: 298px;
			z-index: 10; 
		}
	}
	
	&__link {
		line-height: 1.0;
		position: relative;
		text-decoration: none;
		z-index: 999;
		.icons {
			margin-right: 15px;
		}
		.decorate {
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			border-bottom: 1px solid;
		}
		&:hover {
			.decorate {
				border-bottom-color: transparent;
			}
		}
	}
	a {
		i.icons {
			position: relative;
			left: 0px;
		}
	}
	/*
	i {
		position: absolute;
		&.icons {
			
			left: 50%;
			
			&--element {
				
				&-1 {
					margin-top: 195px;
					margin-left: -12%;
				}
				&-2 {
					margin-top: 195px;
					margin-left: -17.5%;
				}
				&-3 {
					margin-top: 195px;
					margin-left: -23%;
				}
				&-4 {
					margin-top: 145px;
					margin-left: -15%;
				}
				&-5 {
					margin-top: 145px;
					margin-left: -9.5%;
				}
				&-6 {
					margin-top: 95px;
					margin-left: -12%;
				}
				&-7 {
					margin-top: 95px;
					margin-left: -17.5%;
				}
				&-8 {
					margin-top: 40px;
					margin-left: -15%;
				}
				&-9 {
					margin-top: 40px;
					margin-left: -9%;
				}
				
				&-10 {
					margin-top: 195px;
					margin-left: 23%;
				}
				&-11 {
					margin-top: 195px;
					margin-left: 17.5%;
				}
				&-12 {
					margin-top: 195px;
					margin-left: 12%;
				}
				&-13 {
					margin-top: 145px;
					margin-left: 20%;
				}
				&-14 {
					margin-top: 145px;
					margin-left: 15%;
				}
				&-15 {
					margin-top: 145px;
					margin-left: 9.5%;
				}
				&-16 {
					margin-top: 95px;
					margin-left: 17.5%;
				}
				&-17 {
					margin-top: 95px;
					margin-left: 12%;
				}
				&-18 {
					margin-top: 40px;
					margin-left: 15%;
				}
				&-19 {
					margin-top: 40px;
					margin-left: 9%;
				}
				
			}
		}
	}
	*/
}

.chart-right,
.chart-left {
	position: absolute;
	width: 400px;
	height: 350px;
	top: 0px;
	left: 50%;
	z-index: 333;
}

.chart-left {
	margin-left: -400px;
}
.chart-right {
	margin-left: 0px;
}
